  {% extends 'base.html.twig' %}

  {% block title %}Contact Form{% endblock %}

  {% block body %}
  <div class="row">
      <div class="container">
          <h5>
              <center>Conditions générales de vente</center>
          </h5>
          <div class="row col s12">
              <div>
                  <p>
                      <center>DÉCLARATION DE CONFIDENTIALITÉ</center>
                  </p>
                  <p>
                      <center>Conditions Générales de Vente de LA COQUERIE™
                          En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies pour vous
                          proposer des offres adaptées à vos centres d'intérêt, recueillir des données de statistiques
                          et permettre le partage de pages sur les réseaux sociaux.</center>
                  </p>
                  <p>
                      <center>Merci de votre intérêt pour nos produits ! Vous trouverez ci-dessous les Conditions
                          Générales de Vente s’appliquant à votre achat, qui visent à expliciter vos droits. Si vous
                          avez des questions, n’hésitez pas à nous contacter, nous nous ferons un plaisir de vous
                          expliquer leur fonctionnement.
                      </center>
                  </p>

              </div>
          </div>
      </div>
  </div>
  {% endblock %}