  {% extends 'base.html.twig' %}

  {% block title %}Contact Form{% endblock %}

  {% block body %}
  <div class="row">
      <div class="container">
          <h5>
              <center>Politique de confidentialité</center>
          </h5>
          <div class="row col s12">
              <div>
                  <p>
                      <center>DÉCLARATION DE CONFIDENTIALITÉ</center>
                  </p>
                  <center>----</center><br>
                  <p>
                      <center>ARTICLE 1 – RENSEIGNEMENTS PERSONNELS RECUEILLIS</center>
                  </p>
                  <p>
                      <center>Lorsque vous effectuez un achat sur notre boutique, dans le cadre de notre processus
                          d’achat et de vente, nous recueillons les renseignements personnels<br> que vous nous
                          fournissez,
                          tels que votre nom, votre adresse et<br> votre adresse e-mail.</center>
                  </p>
                  <p>
                      <center>ARTICLE 2</center>
                  </p>
                  <p>
                      <center>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque tristique
                          tempus. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia
                          nostra, per inceptos himenaeos. Sed vel vulputate lacus. Sed interdum, velit vitae dictum
                          feugiat, mi sem placerat dui, et blandit sapien diam in eros. Mauris suscipit, massa et
                          porttitor maximus, magna felis mattis arcu, non posuere diam purus ut sapien. Pellentesque at
                          porttitor diam. Vivamus vulputate luctus luctus. Integer scelerisque finibus massa in pretium.
                          Fusce convallis ipsum purus, in cursus nibh laoreet ac. Duis ut commodo libero. Etiam dapibus
                          lorem eget libero lacinia, efficitur bibendum nibh auctor. Nulla in sodales metus, sit amet
                          gravida elit. Aenean bibendum venenatis elit, rhoncus cursus est pretium ac. Curabitur
                          fringilla sollicitudin ornare. Suspendisse sit amet sapien vel orci consectetur dignissim.
                      </center>
                  </p>

              </div>
          </div>
      </div>
  </div>
  {% endblock %}