  {% extends 'base.html.twig' %}

  {% block title %}Contact Form{% endblock %}

  {% block body %}
  <div class="row">
      <div class="container">
          <h5>
              <center>L'ÉCOQUERIE&nbsp;&nbsp;<i class="fas fa-leaf"></i></center>
          </h5>
          <div class="row">
              <div>
                  <center>
                      <img class="logo_payment"
                          src="https://cdn.shopify.com/s/files/1/0032/9223/3837/files/nos_engagements_-_l_ecoquerie.jpg?v=1603976801">
                  </center>
              </div>
          </div>
          <div class="row">
              <div>
                  <p>Parce que la bonne santé de notre planète nous concerne tous, La Coquerie™ s'adapte.<br>
                      Nous garantissons l'envoi de 90% de commandes sans emballage plastique. Alors que la majeur partie
                      des marques de coques de téléphone emballent leurs produits dans des sachets plastiques inutiles,
                      nous avons décidé de tout faire pour réduire leur utilisation au maximum.<br>
                      Cette mesure touche également nos enveloppes, qui en majeur partie se font sans plastique bulle
                      tout en vous assurant la bonne protection de vos produits.</p>
                  <p>Afin de réduire le stock inutile, et par conséquent le transport inutile et nos déchets, nos coques
                      sont fabriquées à la commande et selon votre modèle de smartphone.<br>
                      Aucune de nos coques n'est pré-fabriquée ni pré-imprimée avant que votre commande ne soit validée.<br>
                      De par le fait et comme vous le comprendrez j'en suis sûr, nous n'acceptons pas les retours sauf
                      en cas d'erreur commise par notre équipe.<br>
                      C'est pour cette exacte raison que nous vous demanderons de bien vouloir vérifier votre commande
                      et notamment votre modèle de smartphone. Également, vous pouvez nous contacter depuis le bouton
                      tchat en bas à droite de notre site, où notre conseiller clientèle se fera un plaisir de vous
                      aider dans l'identification de votre smartphone.</p>
              </div>
          </div>
      </div>
  </div>
  {% endblock %}