  {% extends 'base.html.twig' %}

  {% block title %}Contact Form{% endblock %}

  {% block body %}
  <div class="row">
      <div class="container">
          <h5>
              <center>LIVRAISONS</center>
          </h5>
          <div class="row">
              <div>
                  <p>Les frais de port sont offerts en ce moment sur notre site à partir de 29.99€ d'achat. La livraison
                      est assurée par lettre suivie et vos colis est déposé directement dans votre boîte aux lettres,
                      pas besoin d'être présent !</p>
                  <p>Toutes les commandes sont fabriquées, préparées et expédiées depuis notre atelier en France sous
                      24/48h ouvrés. Une fois votre commande envoyée par notre équipe, vous recevrez via mail/SMS un
                      lien vous permettant de suivre l'acheminement de votre colis.</p>
                  <p>Votre colis arrive sous 1 à 5 jours ouvrés en moyenne, après envoi. La livraison prend jusqu'à 10
                      jours ouvrés pour l'étranger.

                  </p>
              </div>
          </div>
      </div>
  </div>
  {% endblock %}