  {% extends 'base.html.twig' %}

  {% block title %}Contact Form{% endblock %}

  {% block body %}
  <div class="row">
      <div class="container">
          <h5>
              <center>MENTIONS LÉGALES</center>
          </h5>
          <div class="row col s12">
              <div>
                  <p>
                      Les contenus (textes, visuels, photos, données techniques, etc.) publiés sur le site
                          internet de la société LA COQUERIE ne peuvent être utilisés sans son consentement préalable ou
                          de l’un de ses représentants légaux. Ces contenus sont protégés au titre des droits d’auteur.
                          Toute distribution, modification ou reproduction de tout ou partie de ces contenus est
                          interdite sans l’accord écrit de la société LA COQUERIE. LA COQUERIE décline toute
                          responsabilité quant aux contenus des sites de ses partenaires ou de ses clients auxquels le
                          visiteur accéderait à partir de ce site.
                  </p>
                  <p>
                      Le site est édité par Nuytten Charles -LA COQUERIE, rue de l'Europe – France, immatriculée
                          au registre du commerce et des sociétés de Lille Métropole sous le numéro 844 682 146.
                      
                  </p>
                  <p>
                      L’hébergement du site est assuré par la société Shopify Inc dont le siège social est situé
                          126 York St. Ottawa, ON K1N 5T5, au Canada.
                      
                  </p>
                  <p>
                      Le directeur de la publication du site est Monsieur Nuytten Charles.
                      
                  </p>
              </div>
          </div>
      </div>
  </div>
  {% endblock %}