  {% extends 'base.html.twig' %}

  {% block title %}Contact Form{% endblock %}

  {% block body %}
  <div class="row">
      <div class="container">
          <table class="striped">
              <thead>
                  <tr>
                      <th></th>
                      <th>
                          <h5>LIVRAISON</h5>
                      </th>
                  </tr>
              </thead>

              <tbody>
                  <tr>
                      <td><b>Combien coûte la livraison ?</b></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>La livraison est offerte sur l'ensemble de notre site, en ce moment !</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td><b>Ai-je besoin d'être présent(e) afin de réceptionner mon colis ?</b></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Non, inutile ! Votre facteur est chargé de vous transmettre votre colis dans votre boîte aux
                          lettres directement.
                          Si vous choisissez comme mode de livraison Colissimo ou Chronopost, il est préférable d'être
                          présent.</td>
                  </tr>
                  <tr>
                      <td><b>Quel est le délais de livraison ?</b></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Dès que votre commande est expédiée, comptez 1 à 5 jours de livraison pour la France. Pour
                          l'étranger, le délais peut aller jusqu'à 10 jours selon votre pays.</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td><b>Je n'ai reçu qu'une partie de ma commande..</b></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Pas de panique ! Nous avons 2 ateliers de fabrication et préparation de vos commandes. Il est
                          parfois nécessaire de procéder à deux envois différents, sans frais supplémentaire. :)</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td><b>Comment suivre ma commande ?</b></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Une fois votre commande expédiée, nous vous envoyons par mail ou SMS selon ce que vous avez
                          choisi, un lien afin de suivre votre commande.</td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
          <table class="striped">
              <thead>
                  <tr>
                      <th></th>
                      <th>
                          <h5>PRODUITS</h5>
                      </th>
                  </tr>
              </thead>

              <tbody>
                  <tr>
                      <td><b>En quelle matière vos coques sont elles fabriquées ?</b></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Nos coques sont fabriquées en silicone ! Elles sont imprimées en ULTRA HD. Nous sommes les
                          seuls à bénéficier d'une tel qualité d'impression pour des produits Made in France.</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td><b>Où sont fabriquées vos produits ?</b></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>La majorité de nos produits sont fabriqués en France ! C'est notamment le cas pour nos coques,
                          et grips. Nous les fabriquons dans dans 2 ateliers différents, en France.</td>
                  </tr>
                  <tr>
                      <td><b>Vos produits sont-ils garantis ?</b></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Oui, nos coques et grips sont garantis 1 an, à partir de votre date d'achat. </td>
                      <td></td>
                  </tr>
                  <tr>
                      <td><b>Comment-laisser mon avis sur le produit reçu ?</b></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Suite à votre commande, vous recevrez un mail vous proposant de laisser votre avis. Sinon,
                          vous pouvez le faire en vous rendant sur la page du produit que vous avez acheté, et laisser
                          votre avis juste en bas.</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td><b>Peut-on ajouter des emojis/smileys sur des produits personnalisés ?</b></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Oui bien sûr ! Attention : ils seront adaptés en fonction de notre système. Ils peuvent donc
                          être légèrement différents de ceux demandés.</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td><b>De quelle couleur sera le contours de ma coque ?</b></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Nous produisons l'essentiel de nos coques en couleur de contours "transparente", si cette
                          couleur n'est pas disponible sur votre modèle de téléphone, vous recevrez votre coque en
                          contours noirs.</td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
          <table class="striped">
              <thead>
                  <tr>
                      <th></th>
                      <th>
                          <h5>AUTRES</h5>
                      </th>
                  </tr>
              </thead>

              <tbody>
                  <tr>
                      <td><b>Où se situe votre société LA COQUERIE™</b></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Notre société se situe en France, à Lille !</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td><b>Peut-on trouver vos produits en magasin ?</b></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>L'ensemble des produits LA COQUERIE™ sont exclusifs à internet, pour le moment.</td>
                  </tr>
                  <tr>
                      <td><b>J'aimerai devenir ambassadeur/ambassadrice de votre marque, comment-faire ?</b></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Ce serait avec grand plaisir ! Pour cela c'est très simple, il vous suffit de nous écrire à
                          hello@la-coquerie.fr. Pensez à nous envoyer un lien de vos différents réseaux sociaux :)</td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  {% endblock %}